#course-wrap{
	.container{
		padding: 30px 0;
		overflow: hidden;
	}
	h1 {
		font-size: 35px;
		font-weight: normal;
	}

	h5{
		 line-height:28px;
		 font-size: 15px;
	  }
	.ud_i_star{
	     color:#994399;

	 }

	.author{
		margin-bottom: 10px;
		h2, h3{
			display: inline-block;
		}
		a{
			text-decoration: none;
		}
	}

	span{
        font-weight:normal;
        }

	h3{
		font-size: 15px;
		font-weight:normal;
		color:#4985B8;
		   &:hover{
			   color:#353535;
		}
	  }
	.reiting{
		padding: 7px 0;
	}
	.startPreview{
		padding: 15px 0;
		margin-bottom: 5px;
		display: block;
		border-bottom: 1px solid lightgray;
		span{
			padding: 0 15px;
			display: block;
			padding-bottom: 7px;
			a{
				background-color: $mainColor;
				padding: 7px 18px;
				border: none;
				@include border-radius(2px);
				color: white;
				text-decoration: none;
			}
		}
	}
	.navbar{
		margin: 30px 0;
		border-top: 1px solid lightgray;
		border-bottom: 1px solid lightgray;
	}
	.video{
		height: 420px;
		width: 100%;

	}
	.btn-1{
		width: 195px;
		height: 40px;
		background-color:#994399;
		color:#FFFCF0;
	}
	.btn-2{
		width: 195px;
		height: 40px;
		background-color:#F1F1F1;
		color:#C5C5C5;
		margin-top: 8px;

	}
	
	
		h6{
			 font-size:13px;
			color:#4985B8;
			line-height:23px;
			    &:hover{
			   color:#353535;
		}
		}


  .fa-flag{
       color:#4985B8;
  }
.lectures{
	h5{
        line-height:28px;
	    font-weight:400;
       }
}
.eight{
	h5{
		font-size: 13px;
		line-height:28px;
		font-weight: 400;
		margin-left:1px;
       
	}

}
  .navbar-light{
  	ul li a{
  		color:gray;
  		font-size: 15px;
  		font-weight: 400;
  		     &:hover{
			   color:#353535;
			   background-color:white;
		}

  	}
  }  
}

#about_use{
	background-color:#F4F4F4;
	.details{
		font-size: 16px;
		font-weight: 700;
		cursor: pointer;
		color: #5074A1;
	}
	.Description{
		padding: 10px 15px;
		h6{
			font-size: 15px;
			font-weight: 700;
			line-height: 35px;

		}
		p{
			font-size:14px;
		    font-weight: 700;
		    line-height: 30px;
		}
		
		    span{
		    	font-weight: 300;
		    }
		ul li{
			font-weight: 300;
			list-style-type:disc;
			list-style-position: inside;
			line-height: 25px;
		}
		ol li i{
			list-style-type:none;
			font-weight: 300;
			line-height: 40px;
		}
		h1{
			font-size: 15px;
			line-height: 40px;
			color: #353535;
			font-style:normal;
		}
		b i{
			font-size: 15px;
			line-height: 45px;
			font-weight:300;
		}
		h2{
			font-size: 15px;
			font-weight: 700;
			line-height: 45px;
			font-style:normal;
		}
		ul h3{
			font-size: 15px;
			font-weight: 700;
			line-height:20px;
			font-style:normal;
		}


	}
	.Students{
		p{
			font-size: 15px;
			font-weight: 700;
			font-style:normal;
		}
		.first{

			width: 100%;
			height: 120px;
			background-color:#FFFFFF;
			     &:hover{
			   color:black; 
		}
        }
			.col-md-4{
				margin-top: 10px;

			}
			.col-md-8{

				h1{
					font-size:13px;
					font-weight: 700;
					margin-top: 10px;
					font-style:normal;
					color:#3b3b3b; 
					line-height:17px;

				}
				h2{
				 	font-size: 12px;
					font-weight: 300;
					font-style:normal;
					color:#353535;
				}
				span{
					font-size: 13px;
					font-weight: 300;
					line-height: 35px;
					font-style:normal;
				}
				h5{
					font-size: 15px;
					font-weight: 700;
					font-style:normal;
				}
				strike{
					font-size: 14px;
					font-weight: 300;
				}
				
				.ud_i_star{
					color: #994399;
				}
			}

		}
		.second{
			width: 100%;
			height: 120px;
			background-color:#FFFFFF;

			.col-md-4{
				margin-top: 10px;

			}
			.col-md-8{

				h1{
					font-size:13px;
					font-weight: 700;
					margin-top: 10px;
					font-style:normal;
					color:#3b3b3b; 
					line-height:17px;

				}
				h2{
				 	font-size: 12px;
					font-weight: 300;
					font-style:normal;
					color:#353535;
				}
				span{
					font-size: 13px;
					font-weight: 300;
					line-height: 35px;
					font-style:normal;
				}
				h5{
					font-size: 15px;
					font-weight: 700;
					font-style:normal;
				}
				strike{
					font-size: 14px;
					font-weight: 300;
				}
				
				.ud_i_star{
					color: #994399;
				}
			}


		}
		


		
		
		.third{
		    width: 100%;
			height: 120px;
			background-color:#FFFFFF;
			.col-md-4{
				margin-top: 10px;

			}
			.col-md-8{
				h1{
					font-size:13px;
					font-weight: 700;
					margin-top: 10px;
					font-style:normal;
					color:#3b3b3b; 
					line-height:17px;

				}
				h2{
				 	font-size: 12px;
					font-weight: 300;
					font-style:normal;
					color:#353535;
				}
				span{
					font-size: 13px;
					font-weight: 300;
					line-height: 35px;
					font-style:normal;
				}
				h5{
					font-size: 15px;
					font-weight: 700;
					font-style:normal;
				}
				strike{
					font-size: 14px;
					font-weight: 300;
				}
				
				.ud_i_star{
					color: #994399;
				}
			}
		}
	}

      h4{
		font-size:15px;
		font-style:normal;
		color: #353535;

	}

 	   .col-md-8{
 	   	  
 	   	  h2{
 	   	  	margin-top: 20px;
 	   	  	font-size: 15px;
 	   	  	font-weight: 600;
 	   	  	font-style: normal;
 	   	  }
 	   	   #curriclum{
 	   	   		margin-top: 25px;
 	   	   }
 	   	   @media screen and (max-width: 480px){
 	   	   		#curriclum{
 	   	   			h2{
 	   	   				font-size: 10px;
 	   	   			}
 	   	   		}
 	   	   		#curriclum>div{
 	   	   			h5, span, button{
 	   	   				font-size: 10px;
 	   	   			}
 	   	   		}	
 	   	   	}
 	   	   #curriclum>div{
 	   	   		display: flex;
 	   	   		align-items: center;
 	   	   		button{
 	   	   			font-style: normal
 	   	   		}
 	   	   }
 	   	   .Lecture_1{
 	   	   	padding: 8px 0;
 	   	   	border-bottom: 1px solid lightgray;
 	   	   	h5{
 	   	   		font-size:15px;
 	   	   		font-style:normal;
 	   	   		font-weight: 300;
 	   	   		color:#353535;
 	   	   	}
 	   	   	span{

 	   	   		font-size:15px;
 	   	   		font-style:normal;
 	   	   		font-weight: 300;
 	   	   		color: #4985B8;

 	   	   	}
 	   	    .btn-primary{
	 	         background:#994399;
	 	         border:none;
	            
		         width: 77px;
	 	         height: 34px;
	 	         
	        }
	        h4{
	        	font-size:15px;
 	   	   		font-style:normal;
 	   	   		font-weight: 300;
 	   	   		color: #353535;
 	   	   		

	        }
	        h2{
	           font-style:normal;
 	   	   	   font-size:15px;
 	   	   	   font-weight: 700;
	        }
	        p{
	        	font-size:15px;
 	   	   		font-style:normal;
 	   	   		font-weight: 300;
 	   	   		color:#353535;
	        }
	        h3{
	        	font-style:normal;
 	   	   	font-size:15px;
 	   	   	font-weight: 700;
 	   	   	color: #3b3b3b;
	        }
	        
 	   	   }

 	   	   h1{
 	   	   	 font-style: normal;
 	   	   	 line-height: 70px;

 	   	   }
 	   	    h4{
 	   	    	font-style: normal;
 	   	    	font-weight: 600;
 	   	    	color: #3b3b3b;

 	   	    }
 	   	    
 	   }
        .fa-play-circle{
	 	     color:#999FA3;
		}
.container{
	overflow: hidden;
}
#instruct{
	padding: 15px 0;
	padding-bottom: 40px;
	font-style: normal;
	h1{
		font-weight: 300;
		font-size: 40px;
		padding-bottom: 10px;
	}
	img{
		 float: left;
		 margin-right: 100px;
		 @media screen and (max-width: 480px){
		 	margin-right: 40px;
		 }
	}
	h6{
		font-size: 14px;
		font-weight: 600;
		padding: 3px 0;
	}
	p{
		font-size: 14px;
	}
	.about{
		padding-top: 25px;
	}
	.cv{
		padding: 25px 0;
	}
	.businness{
		padding-bottom: 25px;
	}
	h5{
		padding: 5px 7px;
		margin-left: 7px;
		font-size: 16px;
		a{
			text-decoration: none;
		}
	}
	.social{
		i{
			font-size: 40px;
			color: lightgray;
			float: left;
			padding: 0 7px;
		}
	}
}

#reviews{
	h1{
		padding-bottom: 20px;
	}
	.average{
		padding: 15px;
		h5{
			font-size: 90px;
			font-weight: 600;
			padding: 0;
			color: $mainColor;
		}
		p{
			padding-left: 7px;
			font-size: 15px
		}
		i{
			font-size: 18px;
			color: $mainColor;
			&:last-child{
				color: lightgray;
			}
		}
	}
	.details{
		padding: 15px;
	}
	.details>p{
		padding-bottom:7px;
		font-weight: bold;
		font-size: 15px;
	}
	.details>div{
		label{
			float: left;
			padding-right: 7px;
		}

		.progress{
			width: calc(100% - 120px);
			float: left;
		}
		.faiz{
			float: right;
			width: 50px;
			padding: 0 5px;
		}
	}
}
#comment-bar{
	.row{
		border-top: 1px solid lightgray;
	}
	.col-md-2{
		padding: 25px 0;
	}
	.allcomment>.col-md-10{
		padding: 25px 0;
		i{
			color: $mainColor;
		}
	}
	.allcomment{
		border-bottom: 1px solid lightgray;
		img{
			margin-right: 7px;
		}
		h3{
			font-weight: 400;
			font-size: 15px;
		}
		h5{
			color: lightgray;
			font-size: 14px;
			font-weight: 400;
		}
		a>i{
			font-size: 17px;
			color: gray;
		}
		.str{
			padding: 7px 0;
		}
	}
	.comment{
		width: 100%;
	}
}
