body{
	background-color: #F4F4F4;
}

#header-wrap{
	@include shadow(0px 0px 5px lightgray);
	background-color: white;
	//up line
	.line{
		border: 2px solid $mainColor;
	}
	//logo
	.logo{
		width: 120px;
		height: 48px;
		background-color: white;
		float:left;
		h1{
			font-size: 19px; 
			padding: 4px 12px; 
			line-height: 35px; 
			color: #994399; 
			font-weight: bold; 
		}
		img{
			width: 100%;
			height: 100%;
		}
	}
	//login
	.login-First{
		display: none;
	}
	.login{
		width: 100%;
		height: 100%;
		position: fixed;
		z-index: 12323333;
		display: flex;
		justify-content: center;
		align-items: center;
		background: rgba(0,0,0,.6);
		.log{
			width: 420px;
			min-height: 300px;
			background-color: #EDEFF1;
			@include border-radius(6px);
			.exit{
				text-align: right;
				padding: 7px 10px;
				i{
					font-size: 24px;
					cursor: pointer;
				}
			}
			.writeInfo{
				padding: 0 20px 20px 20px;
				p{
					font-size: 14px;
				}
				h4{
					font-size: 24px;
					font-weight: 300;
					text-align: center;
					padding-bottom: 10px;
					margin-bottom: 14px;
					border-bottom: 1px solid lightgray;
					color: #355368;
				}
				form{
					padding: 0 15px;
					input[type="email"],input[type="password"]{
						width: 100%;
						border: 1px solid darken(lightgray, 15%);
						@include border-radius(4px);
						margin: 5px 0;
						background-color: white;
						padding: 11px 0;
						text-indent: 15px;
						font-size: 18px;
						font-weight: 300;
						color: #7893AB;
					}
					input:focus{
						border: 1px solid #7893AB;
					}
					input[type="submit"]{
						width: 100%;
						padding: 13px 0;
						font-size: 16px;
						font-weight: 600;
						border: none;
						color: white;
						background-color: $mainColor;
						@include border-radius(2px);
						margin: 30px 0 8px 0;
					}
					h6{
						font-size: 16px;
						margin-bottom: 30px;
						text-align: center;
						a{
							color: #2979B0;
							text-decoration: none;
							&:hover{
								color: darken(#7893AB, 15%);
							}
						}
					}
				}
				h5{
					font-size: 16px;
					padding: 17px 0;
					text-align: center;
					border-top: 1px solid lightgray;
					color: #355368;
					button{
						border: none;
						background-color: transparent;
						color: #2979B0;
						font-weight: 600;
						&:hover{
							color: darken(#7893AB, 15%);
						}
					}
				}
			}
		}
	}
	//signUP
	.signUP-First{
		display: none;
	}
	.signUP{
		width: 100%;
		height: 100%;
		position: fixed;
		z-index: 13434444;
		display: flex;
		justify-content: center;
		align-items: center;
		background: rgba(0,0,0,.6);
		.sign{
			width: 420px;
			min-height: 563px;
			background-color: #EDEFF1;
			@include border-radius(6px);
			.exit{
				text-align: right;
				padding: 7px 10px;
				i{
					font-size: 24px;
					cursor: pointer;
				}
			}
			.writeInfo{
				padding: 0 20px 20px 20px;
				h4{
					font-size: 24px;
					font-weight: 300;
					text-align: center;
					padding-bottom: 10px;
					margin-bottom: 14px;
					border-bottom: 1px solid lightgray;
					color: #355368;
				}
				form{
					padding: 0 15px;
					input[type="text"],input[type="email"],input[type="password"]{
						width: 100%;
						border: 1px solid darken(lightgray, 15%);
						@include border-radius(4px);
						margin: 5px 0;
						padding: 11px 0;
						text-indent: 15px;
						background-color: white;
						font-size: 18px;
						font-weight: 300;
						color: #7893AB;
					}
					input:focus{
						border: 1px solid #7893AB;
					}
					input[type="checkbox"]{
						margin-top: 28px;
						border: 1px solid #7893AB;
						margin-right: 8px;
						float: left;
					}
					p{
						margin-top: 25px;
						margin-bottom: 40px;
						font-size: 14px;
					}
					input[type="submit"]{
						width: 100%;
						padding: 13px 0;
						font-size: 16px;
						font-weight: 600;
						border: none;
						color: white;
						background-color: $mainColor;
						@include border-radius(2px);
						margin: 20px 0 8px 0;
					}
					h6{
						font-size: 10px;
						margin-bottom: 40px;
						a{
							color: #2979B0;
							text-decoration: none;
							&:hover{
								color: darken(#7893AB, 15%);
							}
						}
					}
				}
				h5{
					font-size: 16px;
					padding: 22px 0;
					text-align: center;
					border-top: 1px solid lightgray;
					color: #355368;
					button{
						border: none;
						background-color: transparent;
						color: #2979B0;
						font-weight: 600;
						&:hover{
							color: darken(#7893AB, 15%);
						}
					}
				}
			}
		}
	}
	//browse
	.browse{
		width: 111px;
		height: 48px;
		float:left;
		background-color: white;
		border-left: 1px solid darken(#F4F4F4, 15%);
		border-right: 1px solid darken(#F4F4F4, 15%);
		padding: 14px 25px;
		&:hover{
			background-color: #F4F4F4;
			ul{
				display: block;
				li{
					ul{
						display: none;
					}
					&:hover{
						ul{
							display: block;
						}
					}
				}
			}
		}
		position: relative;
		span{
			font-size: $mainTextSize;
			font-weight: bold;
			color: lighten($textColor, 35%);
		}
		//Browse menusu
		ul{
			width: 230px;
			min-height: 450px;
			background-color: white;
			position: absolute;
			top: 49px;
			left: 0;
			z-index: 11;
			@include shadow(-1px 2px 6px lightgray);
			display: none;
			li{
				a{
					display: block;
					padding: 8px 13px;
					font-size: $mainTextSize;
					text-decoration: none;
					color: $textColor;
					&:hover{
						background-color: #F4F4F4;
					}
					i{
						margin-top: 3px;
						color: darken(#F4F4F4, 23%);
					}
				}
				ul{
					position: absolute;
					top: -1px;
					left: 230px;
					
					@include shadow(1px 2px 6px lightgray);
					li{
						h4{
							&>a{
								font-size: 15px;
							}
						}
						a{
							font-size: $mainTextSize;
						}
					}
				}
			}
		}
	}
	//Menunun sag terefe fixedlenmesi ucun
	.fixedMenu{
		ul{
			display: block;
			left: -121px;
			li{
				ul{
					display: none;
				}
			}
		}
		&:hover{
			background-color: white;
		}
	}

	//search and button
	.search{
		position: relative;
		float: left;
		width: calc(100% - 431px);
		input[type="text"]{
			width: 100%;
			height: 48px;
			border: none;
			padding: 5px 52px;
			background-color: #F4F4F4;
		}
		input[type="submit"], button{
			width: 37px;
			height: 37px	;
			border: none;
			font-size: 18px;
			color: white;
			font-family: FontAwesome, 'Helvetica Neue', Helvetica, Arial, sans-serif;
			background-color: $mainColor;
			@include border-radius(2px);
			position: absolute;
			top: 5px;
			left: 8px;
		}
		input[type="button"]{
			width: 70px;
			height: 48px;
			border: none;
			background-color: transparent;
			color: darken(#88BCDD, 15%);
			position: absolute;
			top: 0;
			right: 0;
			display: none;
		}
	}
	.right-panel{
		float: right;
	}
	//kicik olcude logo
	.logo2{
		h1{
			font-size: 19px; 
			padding: 4px 12px; 
			line-height: 35px; 
			color: #994399; 
			font-weight: bold; 
		}
		img{
			width: 100%;
			height: 100%;
		}
	}
	//My courses
	.myCourses{
		width: 110px;
		height: 48px;
		background-color: white;
		float: left;
		border-left: 1px solid darken(#F4F4F4, 15%);
		border-right: 1px solid darken(#F4F4F4, 15%);
		position: relative;
		text-align:center;
		a{	
			display: block;
			padding: 14px 16px;
			font-size: $mainTextSize;
			font-weight: bold;
			color: lighten($textColor, 35%);
			text-decoration: none;
		}
		&:hover{
			background-color: #F4F4F4;
			.quickStart{
				display: block;
			}
		}
		.quickStart{
			display: none;
			width: 245px;
			min-height: 255px;
			background-color: white;
			@include shadow(0 5px 8px 0 lightgray);
			position: absolute;
			top: 49px;
			left: -136px;
			z-index: 11;
			div{
				padding: 10px 10px;
				&:nth-child(1){
					border-bottom: 1px solid darken(#F4F4F4, 10%);
				}
				h4{
					font-size: 16px;
				}
				i{
					margin-top:3px;
					font-weight: bold;
				}
				a{
					display: inline-block;
					color: darken(#88BCDD, 15%);
				}
			}
			a{
				display: block;
				padding: 9px 10px;
				border-bottom: 1px solid darken(#F4F4F4, 10%);
				&:last-child{
					border: none;
					padding: 5px 10px;
					&:hover{
						i{	
							@include transition(all 0.3s ease);
							@include transform(translateX(4px));
						}
					}
				}
				img{
					margin: 5px;
					margin-right: 10px;
					float: left;
				}
				h5{
					font-size: $mainTextSize;
					color: darken(#88BCDD, 15%);
					line-height: 25px;
					margin-top: 5px;
				}
				p{
					font-size: 11px;
					font-weight: normal;
					color: lighten($textColor, 25%);
				}
			}

		}

	}
	.qeydiyyat{
		width: 100px;
		height: 48px;
		background-color: white;
		float: left;
		border-left: 1px solid darken(#F4F4F4, 15%);
		position: relative;
		text-align:center;
		button{	
			font-size: $mainTextSize;
			padding: 13px 11px;;
			font-weight: 600;
			border: none;
			background-color: transparent;
			color: lighten($textColor, 35%);

		}
		&:hover{
			background-color: #F4F4F4;
			.quickStart{
				display: block;
			}
		}
	}
	//profil menu olan hisse. Logout ve s.
	.smile{
		width: 60px;
		height: 48px; 
		background-color: white;
		padding: 3px 8px;
		float: left;
		position: relative;
		img{
			width: 100%;
			height: 100%;
		}
		&:hover{
			background-color: #F4F4F4;
			.profil_menu{
				display: block;
			}
		}
		.profil_menu{
			display: none;
			width: 208px;
			min-height: 100px;
			background-color: white;
			@include shadow(0 5px 8px 0 lightgray);
			position: absolute;
			top: 49px;
			right: 0;
			z-index: 11;
			ul{
				li{
					a{
						display: block;
						padding: 11px 13px;
						font-size: $mainTextSize;
						text-decoration: none;
						color: $textColor;
						&:hover{
							background-color: #F4F4F4;
						}
					}
				}
				ul{
					margin: 4px 0;
					padding: 4px 0;
					border-top: 1px solid darken(#F4F4F4, 10%);
					border-bottom: 1px solid darken(#F4F4F4, 10%);
				}
			}
		}
	}




	@media screen and (min-width:760px){
		.logo2{
			display: none;
		}
		.navigator{
			display: none;
		}
		.sidebar{
			display: none;
		}
		.search{
			button{
				display: none;
			}
		}
	}
	@media screen and (max-width:360px){
		.logo2{
			margin-left: 25%;
		}
	}
	@media screen and (min-width:360px) and (max-width: 760px) {
		.logo2{
			margin-left: 37%;
		}
	}

	@media screen and (max-width:760px){
		.logo{ 
			display: none;
		}
		.logo2{
			width: 100px;
			height: 48px;
			float: left;
			h1{
				padding: 4px 0;
			}
		}
		.navigator{
			margin-top: 7px;
			margin-left: 7px;
			padding: 6px;
			float: left;
			width: 37px;
			height: 37px;
			color: lighten($textColor,25%);
			position: relative;
			i{	
				cursor: pointer;
				font-size: 25px;
			}

			
			.sidebar{
				position: fixed;
				top: 0;
				left: 7px;
				z-index: 112;
				background-color: #F4F4F4;
				overflow-y: scroll;
				@include shadow(4px 4px 8px lightgray);
				.imgProfile{
					border: 1px solid transparent;
					background-color: $mainColor;
					div{
						width: 120px;
						margin: 40px auto;
						img{
							width: 100%;
							margin: 20px 0;
						}
						span{
							font-size: 16px;
							color: white;
							font-weight: 600;
						}
					}
				}
				a{
					display: block;
					padding: 11px 13px;
					font-size: 18px;
					color: $textColor;
					text-decoration: none;
					&:hover{
						background-color: white;
					}
				}
				.buttonBrowse{
					margin-top: 10px;
					cursor: pointer;
				}
			}
			.browseMenu{
				position: fixed;
				top: 0;
				left: 0;
				z-index: 112;
				background-color: #F4F4F4;
				overflow-y: scroll;
				@include shadow(4px 4px 8px lightgray);
				div{
					background-color: $mainColor;
					padding: 13px 13px;
					margin-bottom: 10px;
					span{
						font-size: 19px;
						border: none;
						background-color: transparent;
						color:white;
						cursor: pointer;
					}
				}
				h6{
					display: inline-block;
					color: white;
					font-size: 18px;
					font-weight: 600;
					margin-left: 20%;
				}
				a{
					display: block;
					padding: 11px 13px;
					font-size: 18px;
					color: $textColor;
					text-decoration: none;
					&:hover{
						background-color: white;
					}
				}
			}
		}
		.search{
			width: 100%;
			input[type="text"]{
				display: none;
			}
			button{
				background-color: white;
				color: lighten($textColor,25%);
				font-size: 19px;
			}
			input[type="submit"]{
				background-color: $mainColor;
				color: white;
				font-size: 19px;
				display: none;
			}
		}
		.smile{
			display: none;
		}
		.bell{
			display: none;
		}
		.browse{
			display: none;
		}
	}
	@media screen and (max-width: 960px){
		.myCourses2{
			width:0;
			display:none;
		}
		.fixedMenu{
			ul{
				display: none;
				left: 0;
				min-height: 450px;
				li{
					ul{
						display: block;
					}
				}
			}
			&:hover{
				background-color: #F4F4F4;
			}
		}
	}
	@media screen and (max-width: 760px){
		.qeydiyyat{
			display: none;
		}
		.search{
			width: calc(100% - 291px);
		}
		.myCourses1{
			width:0;
			display:none;
		}
	}
}